@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
    font-size: 100%;
    font-family: 'Roboto'
}

.parent {
    display: flex;
}

.spacer {
    flex-grow: 1;
}